<mat-toolbar  class="header">
      <span class="shop-name" style="cursor: pointer;" routerLink="">Nazwa sklepu</span>
      <span class="auto-spacer"></span>
        <div *ngFor="let producer of itemService.producers" class="btn-category">
          <button mat-button [matMenuTriggerFor]="menu2">{{ producer.name }}</button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item *ngFor="let item of producer.items" (click)="openItemDetails(item.id)">{{item.name}}</button>

          </mat-menu>
          <span class="auto-spacer"></span>
        </div>
        <a routerLink="/cart" class="cart-button">
          <em class="material-icons">shopping_cart</em>Koszyk
        </a>
        <div class="login-btn">
          <button *ngIf="!isAuthenticated" mat-raised-button class="login"><a routerLink="login" *ngIf="!isAuthenticated">Logowanie</a></button>
          <button *ngIf="isAuthenticated" mat-raised-button (click)="onLogout()" >Wyloguj</button>
        </div>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
</mat-toolbar>


