.header{
  position: absolute;
  top:0;
  background-color: rgb(241, 240, 240);
}

.auto-spacer {
  flex:auto;
}
.btn-category {
  font-size: 18px;
  flex:auto;
}
.login-btn{
  margin-right: 10px;
  cursor: pointer;
}
.login {
  margin-right: 10px;
}
.cart-button{
  margin-right: 10px;
}


