<div class="container">
    <footer>
        <div class="left">
            <h2>Nazwa sklepu</h2>
            <p>Start</p>
            <p>O nas</p>
            <p>Cos tam</p>
        </div>
        <div class="right">
            <h2>Informacje</h2>
            <p>Regulamin</p>
            <p>Polityka Prywatonosci</p>
            <p>Kontakt</p>
        </div>
    </footer>
    <div class="info">
        <p> Nazwa sklepu |</p>
        <p> Adres |</p>
        <p> Nr telefonu |</p>
        <p> mail: mail@mail.mail |</p>
        <p> nr konta bankowego : 835493495345349583</p>
    </div>
</div>

