<div class="container">
<mat-button-toggle-group [(ngModel)]="sortType" #group="matButtonToggleGroup">
    <mat-button-toggle style="cursor: pointer;" value={{enum.gridList}}><mat-icon>view_module</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle style="cursor: pointer;" value={{enum.flatList}}><mat-icon>view_list</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="item-list">
    <div *ngIf="sortType === enum.flatList">
    <app-item-flat-list></app-item-flat-list>
    </div>
    <div *ngIf="sortType === enum.gridList">
      <app-item-list></app-item-list>
    </div>
  </div>
  