.container{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 80%;
}
table {
    width: 60%;
  }
  th {
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2; 
  }
  
  td {
    padding-left: 10px;
  }
  
  

