.container {
    display:flex;
    justify-content: center;
    position: relative;
    top:100px;
    bottom: 100px;
    margin:auto;
    height: 100px;
    width: 70%;
    border-bottom: solid lightgrey 1px;
    border-top: solid lightgrey 1px;
}
p {
    font-size: 16px;
    width: 400px;
    margin: auto;
}
mat-form-field {
  margin: auto;
}
button {
  margin: auto;
}
