<mat-card class="container">
    <mat-card-content>
        <img class="image" mat-card-image src="https://img.freepik.com/premium-zdjecie/osiol-z-bialym-tlem-i-bialym-tlem_873925-22917.jpg" alt="">
    <mat-card-header><h1>Nazwa produktu</h1></mat-card-header> 
        <div class="details">
                <div class="desc">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium enim quos sunt omnis blanditiis mollitia voluptatem sapiente autem quo nisi repellat officia harum, cupiditate porro odio similique? Pariatur, expedita labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia animi repellat tempora tempore unde aperiam dignissimos fuga iure rerum? Quia sed optio aliquam id alias rerum hic autem quidem reprehenderit.</p>
                </div>
                <div class="product-price">CENA</div>
                <div class="product-links">
                  <button mat-icon-button>
                    <mat-icon class="icon">add_shopping_cart</mat-icon>
                  </button>
                </div>
            </div>
    </mat-card-content>
  </mat-card>
  