<div class="product-card">
    <div class="badge">-50%</div>
    <div class="product-tumb" >
      <img src="https://img.freepik.com/premium-zdjecie/osiol-z-bialym-tlem-i-bialym-tlem_873925-22917.jpg" alt="osioł">
    <div class="product-details">
      <span class="product-category">categoria,producent</span>
      <h4><a href="">Nazwa</a></h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quo alias amet recusandae provident voluptatem, quos, omnis ipsa neque nam, vitae sed sint officiis asperiores fugit nesciunt a fuga possimus.</p>
      <div class="product-bottom-details">
        <div class="product-price"><small>200zł</small>100zł</div>
        <div class="product-links">
          <button mat-icon-button>
            <mat-icon>shopping-cart</mat-icon>
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
